@import '../../../Styles//variables';

.MyNavbar {
  background-color: $third-color;
  .nav-link {
    padding: 8px;
    display: inline-block;
  }
  .nav-link:hover {
    border-radius: 10px;
    padding: 8px;
    background-color: rgba(128, 128, 128, 0.363);
    text-decoration: underline;
    box-shadow: rgba(128, 128, 128, 0.795) 2px 2px 5px;
  }
  .logout:hover {
    cursor: pointer;
  }
}